<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- #########################配置Spring提供的JMS工具类######################### -->
	<!-- Spring提供的JMS工具类，它可以进行消息发送、接收等 -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory">
			<bean class="org.springframework.jms.connection.SingleConnectionFactory">
				<property name="targetConnectionFactory">
					<bean class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">  
				    	<property name="connectionFactory">
				    		<bean class="org.apache.activemq.ActiveMQConnectionFactory">
								<property name="brokerURL" value="tcp://localhost:61616" />
								<property name="userName" value="admin"/>
								<property name="password" value="admin"/>
								<property name="useAsyncSend" value="true" />
							</bean>
				    	</property>
			    		<property name="maxConnections" value="1000"/><!-- 池中存放最大连接数 -->
					</bean>  
				</property>
			</bean>
		</property>
	</bean>
	
	<!-- #########################配置队列######################### -->  	
    <!-- 创建一个渠道队列 -->  
    <bean id="shakeRedbagChannelDestination" class="org.apache.activemq.command.ActiveMQQueue">  
        <constructor-arg value="shakeRedbagChannelQueue"/> <!-- 这里传入的是队列的名称 -->  
    </bean> 
    <!-- 创建一个红包队列 -->  
    <bean id="shakeRedbagDestination" class="org.apache.activemq.command.ActiveMQQueue">  
        <constructor-arg value="shakeRedbagQueue"/> <!-- 这里传入的是队列的名称 -->  
    </bean>  
</beans>