<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:redis="http://www.springframework.org/schema/redis"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/redis http://www.springframework.org/schema/redis/spring-redis.xsd">

	<!-- #########################配置抽象连接工厂######################### -->
	<!-- 连接池配置 -->
	<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<!-- 链接池中最大连接数 -->
		<property name="maxTotal" value="1000" />
		<!-- 链接池中最大空闲的连接数 -->
		<property name="maxIdle" value="10" />
		<!-- 连接池中最少空闲的连接数 -->
		<property name="minIdle" value="5" />
	</bean>
	<!-- 抽象连接工厂 -->
	<bean id="abstractConnectionFactory"
		class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
		abstract="true">
		<!--  
		<property name="hostName" value="192.168.72.130" />
		<property name="port" value="6379" />
		<property name="password" value="123456" />
		-->
	
		<property name="hostName" value="127.0.0.1" />
		<property name="port" value="6379" />
		
	
		<property name="poolConfig" ref="poolConfig" />
	</bean>
	
	<!-- #########################配置缓存数据库######################### -->
	<!-- 这是一个景点scenic的缓存 key id ，value scenic-->
	<bean id="scenicCache" class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory">
			<bean parent="abstractConnectionFactory">
				<property name="database" value="1" />
			</bean>
		</property>
		<property name="keySerializer">
			<bean
				class="org.springframework.data.redis.serializer.StringRedisSerializer" />
		</property>
	</bean>
	<!-- 这是一个验证码的缓存 key phone ，value code-->
	<bean id="codeCache" class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory">
			<bean parent="abstractConnectionFactory">
				<property name="database" value="2" />
			</bean>
		</property>
		<property name="keySerializer">
			<bean
				class="org.springframework.data.redis.serializer.StringRedisSerializer" />
		</property>
	</bean>
	
	
	
	
	
	
</beans>





